<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>6fbec473-3978-488b-8de3-16cd4d07bda7</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11527234</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-EB1F30AB-3F31-4208-9C34-A3B5C98FCFA7</Id>
        <Name>AdMediator_37B2F0</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>60</RefreshRate>
  <TestConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>test_client</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-EB1F30AB-3F31-4208-9C34-A3B5C98FCFA7</Id>
        <Name>AdMediator_37B2F0</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </TestConfiguration>
  <UpdatedDateTime>2015-07-25T09:31:20.2721361Z</UpdatedDateTime>
</AdMediatorConfiguration>